// Colors.scss

$offWhite: #f7f7f7;
$coolGray: #A7AFB2;
$realWhite: #fff;
$darkLiver: #54494b;
$mintCream: #eff2f5;
$turqoiseGreen: #6eb99b;
$brightMaroon: #b33951;
$ocean: #4e6172;
$oceanHover: #233646;
